{{ ansible_managed | comment }}

Address = {{ tinc_hostname }}
Port = {{ tinc_port }}
{% for subnet in tinc_subnets %}
Subnet = {{ subnet.address }}/{{ subnet.tinc_net | default("32") }}
{% endfor %}
