#!/bin/bash

{{ ansible_managed | comment }}

ip link set {{ tinc_interface }} down
{% for addr in tinc_subnets %}
ip address delete {{ addr.split('/')[0] + '/24' }} dev {{ tinc_interface }}
{% endfor %}

{% for route in tinc_routes %}
ip route del {{ route.net }} via {{ route.gw }}
{% endfor %}
