#!/bin/bash

{{ ansible_managed | comment }}

ip link set {{ tinc_interface }} up
{% for subnet in tinc_subnets %}
ip address add {{ subnet.address }}/{{ subnet.prefix | default('24') }} dev {{ tinc_interface }}
{% endfor %}

{% for route in tinc_routes %}
ip route add {{ route.net }} via {{ route.gw }}
{% endfor %}
