#!/bin/bash

{{ ansible_managed | comment }}

ip link set {{ tinc_interface }} down
{% for addr in tinc_addresses %}
ip address delete {{ addr }} dev {{ tinc_interface }}
{% endfor %}

{% for route in tinc_routes %}
ip route del {{ route.net }} via {{ route.gw }}
{% endfor %}
