#!/bin/bash

{{ ansible_managed | comment }}

ip link set {{ tinc_interface }} up
{% for addr in tinc_subnets %}
ip address add {{ addr.split('/')[0] + '/24' }} dev {{ tinc_interface }}
{% endfor %}

{% for route in tinc_routes %}
ip route add {{ route.net }} via {{ route.gw }}
{% endfor %}
