#!/bin/bash

{{ ansible_managed | comment }}

ip link set {{ tinc_interface }} up
{% for addr in tinc_addresses %}
ip address add {{ addr }} dev {{ tinc_interface }}
{% endfor %}

{% for route in tinc_routes %}
ip route add {{ route.net }} via {{ route.gw }}
{% endfor %}
